@model IEnumerable<LibraryInIeshiva.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-action="createBook">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.shelfId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.high)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.thickness)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.shelfId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.high)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thickness)
            </td>
            <td>
                    @Html.ActionLink("Edit book", "EditBook", new { id = item.Id }) |
                    @Html.ActionLink("Details", "BookDetails", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "DeleteBook", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
